@import "tailwindcss";

/* =========================
   AUTH LOADER ANIMATION
========================= */

@theme {
  --animate-loadingBar: loadingBar 1.5s ease-in-out infinite;
}

@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}